@import 'tailwindcss';
@import '../css/font-import.css' layer(base);
@import '../css/main-style.css' layer(base);
@import '../css/new-tailwind.css' layer(base);
@import '../css/root-style.css' layer(base);
@import '../css/news-detail.css' layer(base);
@import '../css/slider-bg-style.css' layer(base);
@import '../css/scrolls.css' layer(base);

@import '@fortawesome/fontawesome-free/css/all.css' layer(base);
@import 'bvi/dist/css/bvi.min.css' layer(base);

@import 'editorjs.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-baseRed: #820000;
    --color-blue: #374573;
    --color-neutral-150: #EEEEEE;
    --color-base-red: #820000;
    --color-hover-red: #c10f1a;

    --color-news-table-head: #820000;
    --color-news-table-row-1: #fefefe;
    --color-news-table-row-2: #f5f5f5;

    --spacing-1px: 1px;
    --spacing-2px: 2px;
    --spacing-300: 300px;
    --spacing-500: 500px;
    --spacing-600: 600px;
    --spacing-800: 800px;
    --spacing-1200: 1200px;
    --spacing-base-container: 1320px;

    --list-style-type-none: none;
    --list-style-type-disc: disc;
    --list-style-type-square: square;
    --list-style-type-decimal: decimal;
    /*--list-style-type-numeric: decimal;*/
    /*--list-style-type-lower-roman: lower-roman;*/
    /*--list-style-type-upper-roman: upper-roman;*/
    /*--list-style-type-lower-alpha: lower-alpha;*/
    /*--list-style-type-upper-alpha: upper-alpha;*/

    --3xl: 2000px;
}

@layer components {
    .list-upper-roman {
        list-style-type: upper-roman;
    }
    .list-lower-roman {
        list-style-type: lower-roman;
    }
    .list-upper-alpha {
        list-style-type: upper-alpha;
    }
    .list-lower-alpha {
        list-style-type: lower-alpha;
    }
    .list-numeric {
        list-style-type: decimal;
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    transition: background-color 5000s ease-in-out 0s;
}


.checked-box:has(:checked) {
    display: block;
}

.btn-filter-card:has(:checked) {
    background-color: var(--color-baseRed);
}

img {
    user-drag: none; /* Запрещает перетаскивание */
    -webkit-user-drag: none; /* Для Safari */
    -khtml-user-drag: none; /* Для Konqueror */
    -moz-user-drag: none; /* Для Firefox */
    -o-user-drag: none; /* Для Opera */
}

.about-otdel, .text, .text-section{
    p,li{
        padding: .25rem 0;

        :first-child{
            padding-top: 0;
        }
        :last-child{
            padding-bottom: 0;
        }
    }

    ul{
        margin-left: 1rem;
        list-style: disc;
    }

    a{
        text-decoration: underline;
    }
    a:hover{
        color: #820000;
    }

}

.ul-correct ul{
    padding-left: 24px;
    list-style: disc;
}
.ul-correct ul ul{
    padding-left: 24px;
    list-style: circle;
}

.no-tailwind-styles {
    all: initial;
    display: block;
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

.no-tailwind-styles * {
    all: revert;
    box-sizing: border-box;
}

.no-tailwind-styles ul, .no-tailwind-styles ol {
    list-style: initial;
    padding-left: 40px;
}

.no-tailwind-styles a {
    color: initial;
    text-decoration: initial;
}

.ce-editorjsColumns_col{

}
