@import '../css/font-import.css';
@import '../css/main-style.css';
@import '../css/new-tailwind.css';
@import '../css/root-style.css';
@import '../css/news-detail.css';
@import '../css/slider-bg-style.css';

@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    transition: background-color 5000s ease-in-out 0s;
}


.checked-box:has(:checked){
    display: block;
}
