@tailwind base;
@tailwind components;

.ce-block__content,
.ce-toolbar__content {
    max-width: unset;
}

.codex-editor h1{
    @apply text-2xl font-extrabold mt-10 mb-4
}
.codex-editor h2{
    @apply text-3xl font-bold mt-8 mb-3
}
.codex-editor h3{
    @apply text-2xl font-semibold mt-6 mb-3
}
.codex-editor h4{
    @apply text-xl font-semibold mt-5 mb-2
}
.codex-editor h5{
    @apply text-lg font-medium mt-4 mb-2
}
.codex-editor h6{
    @apply text-base font-medium mt-3 mb-1
}
.codex-editor a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #C10F1A;
  text-decoration: none;
  transition: color 0.3s;
}

.codex-editor a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #C10F1A;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease;
}

.codex-editor a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@tailwind utilities;
